.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.indent {
    margin-left: 20px;
}