<div class="toolbar top" role="banner">
    <img
        width="40"
        alt="Boil-Egg Omelette Logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB_6sNK6lwpuBy0A__hAYViEGmj2MR42_31IO-G8GVXKA-WTCWqydlBEBlicxUT1bGpMw&usqp=CAU"
    />
    <span>Welcome to Boil-Egg Omelette</span>
  </div>
  
  <div class="toolbar bottom" role="banner">
    <span class="indent">Contact Us : </span>
    <img
      width="40"
      alt="Phone Icon"
      title="8957688619"
      src="https://cdn3.vectorstock.com/i/1000x1000/20/42/white-phone-icon-on-blue-background-vector-7352042.jpg"
    />
  </div>
      